@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

/* Define the continuous scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}

/* Tailwind class for infinite scroll animation */
.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* Ensure movie cards fill the entire container */
.movie-card {
  background-size: cover; /* Ensures the images fill the card without stretching */
  background-position: center; /* Ensures the center of the image is always visible */
}
